doctype html

html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css", integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
  style.
      body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
      }
      .login {
        background-color: #fff;
        padding: 40px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 500px;
        text-align: center;
      }
      h1 {
        font-size: 24px;
        margin-bottom: 20px;
      }
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      label {
        display: block;
        margin-bottom: 10px;
      }
      input[type="text"],
      input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
      input[type="submit"] {
        width: 100%;
        padding: 10px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
      }
      input[type="submit"]:hover {
        background-color: #45a049;
      }
      .fas {
        margin-right: 10px;
      }
  body
    div.login 
      h2 #{title}
      form(method='POST')
        label(for='nome') Nome Completo:
        input#nome.form-control(type='text', placeholder='PLAYER, ADM...' name='nome' required)
        label(for='descricao') Descrição:
        input#descricao.form-control(type='text', placeholder='PLAYER, ADM...' name='descricao' required)
        label(for='jogo') Jogo:
        input#jogo.form-control(type='text', placeholder='PLAYER, ADM...' name='jogo' required)
        label(for='premiacao') Premiação:
        input#premiacao.form-control(type='text', placeholder='PLAYER, ADM...' name='premiacao' required)
        button.btn.btn-primary(type='submit') Submit
